@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --scrim-background-dark: hsla(231, 20%, 20%, 1);
    --scrim-background-white: hsla(0, 0%, 99%, 1);
    --scrim-background-light-100: hsla(231, 21%, 26%, 1);
    --scrim-background-light-200: hsla(231, 20%, 31%, 1);
    --scrim-background-light-300: hsla(232, 20%, 37%, 1);
    --scrim-background-light-400: hsla(232, 20%, 72%, 1);
    --scrim-background-light-500: hsla(230, 21%, 95%, 1);
    --scrim-background-light-600: hsla(225, 20%, 96%, 1);
    --scrim-background-gradient: linear-gradient(
      163deg,
      #454752 -9.88%,
      #292c3d 108.24%
    );

    --scrim-background-gradient-desktop: linear-gradient(
      163deg,
      #454752 -9.88%,
      #292c3d 108.24%
    );

    --scrim-primary: hsla(31, 77%, 49%, 1);
    --scrim-primary-light: hsla(38, 76%, 59%, 1);

    --scrim-button-shadow-sm: 0px 0px 11px 2px rgba(230, 173, 73, 0.2);
    --scrim-button-shadow-md: 0px 0px 12px 6px rgba(230, 173, 73, 0.3);
    --scrim-buton-shadow-lg: 0px 0px 10px 10px rgba(230, 173, 73, 0.3);
    --scrim-input-color-dark: hsla(231, 21%, 26%, 1);
    --scrim-input-color-light: var(--scrim-background-light-600);
    --scrim-neutral-ash: hsla(0, 0%, 98%, 1);
    --scrim-dark-ash: hsla(229, 20%, 17%, 1);

    --scrim-button-stroke: var(--scrim-primary);
    --scrim-button-color: var(--scrim-background-white);

    --form-max-width: 65rem;

    --border-rdx: 0.25rem;

    --fs-small: clamp(0.6rem, 4vw, 0.8rem);
    --fs-base: clamp(0.85rem, 4vw, 0.92rem);
    --fs-mid: clamp(1.35rem, 4vw, 1.5rem);
    --fs-logo: clamp(2.3rem, 4vw, 2.2rem);
    --fs-large: clamp(2.35rem, 6vw, 3.5rem);
  }

  html {
    --scrim-background: var(--scrim-background-white);
    --scrim-text-foreground: var(--scrim-background-dark);
    --scrim-pellet-color: var(--scrim-background-light-600);
    --scrim-pellet-border: var(--scrim-background-light-500);
    --scrim-pellet-selected-border: var(--scrim-background-light-400);
    --scrim-input-color: var(--scrim-input-color-light);
    --scrim-separator-color: var(--scrim-background-light-500);
    --scrim-nav-indicator: var(--scrim-background-light-600);
    --scrim-border: var(--scrim-background-light-500);
    --scrim-button-color: var(--scrim-background-white);
    --scrim-input-border: var(--scrim-background-light-500);
    --scrim-input-border-hover: var(--scrim-background-light-400);
    --scrim-side-bar-color: var(--scrim-neutral-ash);
    --scrim-primary-gradient: linear-gradient(
      90deg,
      rgb(230, 173, 73) -56.63%,
      rgba(223, 130, 29, 0.9) 53.01%,
      rgb(230, 173, 73) 149.4%
    );
    /* --scrim-overlay-color:  */
  }
  html.dark {
    --scrim-background: var(--scrim-background-dark);
    --scrim-text-foreground: var(--scrim-background-white);
    --scrim-pellet-color: var(--scrim-background-light-100);
    --scrim-pellet-border: var(--scrim-background-light-300);
    --scrim-pellet-selected-border: var(--scrim-background-light-400);
    --scrim-input-color: var(--scrim-input-color-dark);
    --scrim-separator-color: var(--scrim-background-light-100);
    --scrim-nav-indicator: var(--scrim-input-color);
    --scrim-border: var(--scrim-background-light-200);
    --scrim-button-color: var(--scrim-background-white);
    --scrim-input-border: var(--scrim-background-light-200);
    --scrim-input-border-hover: var(--scrim-background-light-300);
    --scrim-side-bar-color: var(--scrim-dark-ash);
    --scrim-primary-gradient: linear-gradient(
      90deg,
      rgba(230, 173, 73, 0.7) -56.63%,
      rgba(223, 130, 29, 0.7) 53.01%,
      rgba(230, 173, 73, 0.7) 149.4%
    );
  }

  body {
    @apply text-base text-foreground;
  }
}

@layer utilities {
  .gradient-text {
    background: var(--scrim-primary-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .scrim-container {
    width: min(100%, 1200px);
    @apply mx-auto;
  }
}
